* {
    text-decoration: none;
}

.text__white {
    color: white;
}

.firt__article {
    padding-left: 78px;
    padding-right: 78px;
}

.main__article {

    padding-left: 0px;
    padding-right: 20px;
}

.img__center {
    display: flex;
    justify-content: center;
}

.copy-wrapper>.heading {
    height: 36px;
}

.copy-wrapper>.category-subslide-copy {
    height: 108px;
}
.is-primary{
    color: white;
}